<h2 class='hr'>
  <span>About Me</span>
</h2>
<p>My name is Randy Lu (卢涛南). I was born in 1995 and I'd been coding since my 13. I wrote C, PHP, Python, JavaScript. But now I focus on JavaScript and currently work at <b>Alibaba Inc.</b></p>
<h2 class='hr'>
  <span>Posts</span>
</h2>
<ul class='post-list non-style-list'>
  <% for(var i = 0; i < page.posts.data.length; i++) { %>
    <li class='post-list-item'>
      <a href='<%= page.posts.data[i].path %>'><%= page.posts.data[i].title %></a>
      <span class='post-list-date'>(<%- date(page.posts.data[i].date, 'MMM, YYYY') %>)</span>
    </li>
  <% } %>
</ul>
<%- partial('partial/skill_list') %>
<%- partial('partial/talk_list') %>
<%- partial('partial/contact_list') %>
