<html>
  <%- partial('partial/head')  %>
  <body>
    <%- partial('partial/header') %>
    <div>
      <%- body %>
    </div>
    <%- partial('partial/footer') %>
    <%- partial('partial/ga') %>
  </body>
</html>